*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;

}

.App {
  text-align: center;
}

.img-responsive{
  width:70px;
  height:60px;
  border-radius:100%;
  margin-right: 2rem;
  margin-left: 6rem;
}
.container{
  width: 21rem;
}

